/* Maurício */
img{
    object-fit:cover ;
}

button{
    background-color: white;
}

.header{
    z-index: 70;
    top: 0px;
    grid-column: 1/4;
    display: grid;
    background-color: rgb(255, 255, 255);
    min-height: 10vh;
    width: 100%;
    grid-template-columns: 6% 10% 10% 10% 13% 26% 25%;
    grid-template-rows: 1fr;
    position: fixed;
    justify-content: space-between;
   
}

.home{
    /* background-color: aqua; */
    grid-column: 1;
    background-image: url(../imagens/Logo.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: none;
    cursor: pointer;
}

.sobreNos{
    /* background-color: aliceblue; */
    grid-column: 2;
    font-size: 50%;
    border: none;
    cursor: pointer;
}

.contato{
    /* background-color: blue; */
    grid-column: 3;
    font-size: 50%;
    border: none;
    cursor: pointer;
}

.cardapio{
    /* background-color: blueviolet; */
    grid-column: 4;
    font-size: 50%;
    border: none;
    cursor: pointer;
}

.telefone{
    /* background-color: brown; */
    grid-column: 6;
    font-size: 50%;
    border: none;
    background-image: url(../imagens/iconeWhats.png);
    background-repeat: no-repeat;
    background-size:7%;
    background-position-y: center;
    
}

.endereco{
    /* background-color: chocolate; */
    grid-column: 7;
    font-size: 50%;
    border: none;
    background-image: url(../imagens/iconeLocal.png);
    background-repeat: no-repeat;
    background-size:7%;
    background-position-y: center;
}

 .viewport{
    display: grid;
    /* background-color: aqua; */
    top: 100px;
    min-height: 200vh;
    grid-template-rows:6% 4% 8% 10% 50% 14% 8%;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-between;
} 

.titulo{
    /* background-color:rgb(36, 25, 25); */
    grid-column: 1/4;
    grid-row: 3;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
} 

.textoTitulo{
    /* background-color: rgb(255, 146, 146); */
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    font-size: clamp(1em, 4vw, 10vw);
}

.salgados{
    display: grid;
    /* background-color: rgb(43, 66, 129); */
    grid-row: 5;
    background-image: url(../imagens/coxinhaCardapio.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center;
    background-position-y:center ;
    cursor: pointer;
    border: 0px;
    grid-template-columns: 1 1fr;
    grid-template-rows: 16 1fr;
    filter: brightness(0.5);
    z-index: 1;
}
.salgados:hover{
    filter: brightness(0.9);
    z-index: 1;

}

.tituloBotoes{
    z-index: 10;
    color: white;
    justify-content: center;
    grid-row: 16;
    font-size: clamp(1em, 4vw, 10vw);
}

.doces{
    display: grid;
    /* background-color: black; */
    grid-row: 5;
    grid-column: 2/2;
    background-image: url(../imagens/doceCardapio.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center;
    background-position-y:center ;
    cursor: pointer;
    border: 0px;
}

.bebidas{
    display: grid;
    /* background-color: blueviolet; */
    grid-row: 5;
    grid-column: 3/3;
    background-image: url(../imagens/cafeCardapio.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center;
    background-position-y:center ;
    cursor: pointer;
    border: 0px;
}

.rodape{
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    /* background-color: brown; */
    grid-column: 1/4;
    grid-row: 7;
}

@media (max-width: 1300px) {

    .titulo{
        /* background-color:rgb(36, 25, 25); */
        grid-column: 1/4;
        grid-row: 3;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
    } 
    
    .textoTitulo{
        /* background-color: rgb(255, 146, 146); */
        text-align: center;
        grid-column: 2;
        grid-row: 1;
        font-size: clamp(1em, 4vw, 10vw);
    }

    .viewport{
        display: grid;
        /* background-color: aqua; */
        top: 100px;
        min-height: 200vh;
        grid-template-rows:6% 4% 3% 10% 20% 5% 20% 5% 20% 10% 8%;
        grid-template-columns: 10% 55% 10%;
        justify-content: space-between;
    } 

    .salgados{
        display: grid;
        /* background-color: rgb(43, 66, 129); */
        grid-row: 5;
        background-image: url(../imagens/coxinhaCardapio.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position-x: center;
        background-position-y:center ;
        cursor: pointer;
        border: 0px;
        grid-template-columns: 1 1fr;
        grid-template-rows: 16 1fr;
        filter: brightness(0.5);
        z-index: 1;
        grid-column: 2/2;
    }

    .salgados:hover{
        filter: brightness(0.9);
        z-index: 1;
    
    }

    .doces{
        display: grid;
        /* background-color: black; */
        grid-row: 7;
        grid-column: 2/2;
        background-image: url(../imagens/doceCardapio.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position-x: center;
        background-position-y:center ;
        cursor: pointer;
        border: 0px;
    }

    .bebidas{
        display: grid;
        /* background-color: blueviolet; */
        grid-row: 9;
        grid-column: 2/2;
        background-image: url(../imagens/cafeCardapio.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position-x: center;
        background-position-y:center ;
        cursor: pointer;
        border: 0px;
    }

    .rodape{
        background-image: url(../imagens/Logo.png);
        background-repeat: no-repeat;
        background-size:contain;
        background-position-x: center;
        background-position-y:center ;
        /* background-color: brown; */
        grid-column: 1/4;
        grid-row: 11;
    }
}