.viewport{
    display: grid;
    background-color: aqua;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.header{
    display: flex;
    background-color:rgb(0, 255, 128);
    grid-column: 1/4;

    }

.salgados{
    display: grid;
    background-color: rgb(43, 66, 129);
    grid-column: 2/3;
    grid-row: 3/5;
}

.doces{
    display: grid;
    background-color: black;
}

.bebidas{
    display: grid;
    background-color: blueviolet;
}

.rodape{
    display: grid;
    background-color: brown;
}