img{
    object-fit:cover ;
}

.viewport{
    display: grid;
    background-color: aqua;
    min-height: 100vh;
    grid-template-rows: repeat(10 1fr);
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    grid-auto-flow: row;
}

.header{
    background-color:rgb(0, 255, 128);
    grid-column: 1/4;

    }

.titulo{
    background-color:rgb(0, 34, 17);
    grid-column: 1/4;
}

.salgados{
    background-color: rgb(43, 66, 129);
    grid-column: 1/1;
    grid-row: 3/8;
    background-image: url("imagens/coxinhaCardapio01.png");
}

.doces{
    background-color: black;
}

.bebidas{
    background-color: blueviolet;
}

.rodape{
    background-color: brown;
    grid-column: 1/4;
}