/* Maurício */
img{
    object-fit:cover ;
}

.viewport{
    display: grid;
    background-color: aqua;
    min-height: 200vh;
    grid-template-rows: repeat(35 1fr);
    grid-template-columns: 20% 20.10% 20.10%;
    gap: 10px;
    column-gap: 19.83%;
    grid-auto-flow: row;
}

.header{
    flex-direction: row;
    background-color:rgb(0, 255, 128);
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(6 1fr);
    gap: 10px;

}

.home{
    background-color: rgb(34, 70, 70);
}

.sobreNos{
    background-color: blueviolet;
}

.contato{
    background-color: brown;
}

.cardapio{
    background-color: coral;
}

.telefone{
    background-color: darkorange;
}

.endereco{
    background-color: darkolivegreen;
}

.titulo{
    background-color:rgb(0, 34, 17);
    grid-column: 1/4;
    grid-row: 4;
    text-align: center;
}

.salgados{
    background-color: rgb(43, 66, 129);
    grid-row: 7/23;
    background-image: url(../imagens/coxinhaCardapio.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center;
    background-position-y:center ;
    cursor: pointer;
    -webkit-filter:grayscale(60%);
    color: white;
    text-align: center;
    

}

.salgados:hover { 
    -webkit-filter:grayscale(0%);
    transition: 1s;
}
.textoSalgados{
    text-align: center;
}

.doces{
    background-color: black;
    grid-row: 7/23;
    grid-column: 2/2;
    background-image: url(../imagens/doceCardapio.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;

}

.bebidas{
    background-color: blueviolet;
    grid-row: 7/23;
    grid-column: 3/3;
    background-image: url(../imagens/cafeCardapio.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
}

.rodape{
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    background-color: brown;
    grid-column: 1/4;
    grid-row: 25/28;
}