/* Manu */
button{
    background-color: white;
}

.Conteiner{
    display: grid;
    /* background-color: aqua; */
    min-height: 150vh;
    grid-template-rows: 6% 1fr 2% 1fr 10% 10% 10% 10%;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    grid-auto-flow: row;
}

img{
    object-fit: cover;
    max-width: 100%;
    display: block;
}

.header{
    z-index: 70;
    grid-column: 1/4;
    display: grid;
    background-color: rgb(255, 255, 255);
    min-height: 10vh;
    width: 100%;
    grid-template-columns: 6% 10% 10% 10% 13% 26% 25%;
    grid-template-rows: 1fr;
    justify-content: space-between;
    position: fixed;
    top: 0px;
   
}

.home{
    display: flex;
    /* background-color: aqua; */
    grid-column: 1;
    border: none;
    cursor: pointer;
    align-items: center;
}

.sobreNos{
    display: flex;
    /* background-color: aliceblue; */
    grid-column: 2;
    font-size: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
}

.contato{
    display: flex;
    /* background-color: blue; */
    grid-column: 3;
    font-size: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
}

.cardapio{
    display: flex;
    /* background-color: blueviolet; */
    grid-column: 4;
    font-size: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
}

.telefone{
    display: flex;
    /* background-color: brown; */
    grid-column: 6;
    font-size: 50%;
    border: none;
    align-items: center;
    column-gap: 10px;
}

.endereco{
    display: flex;
    /* background-color: chocolate; */
    grid-column: 7;
    font-size: 50%;
    border: none;
    column-gap: 10px;
    align-items: center;
}

.titulo{
    grid-column: 1/4;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 100%;
    /* background-color:midnightblue; */
}

.divisao{
    grid-column: 1/4;
    grid-row: 3;
    /* background-color: firebrick; */
}

.localizacao{
    grid-column: 3/4;
    grid-row: 4/8;
    margin-right: 2%;
    /* background-color: blueviolet; */

}

.textoContato{
    grid-column: 1/3;
    grid-row: 4;
    margin-left: 1%;
    font-size: 50%;
    text-align: justify;
    /* background-color: yellowgreen; */
}

.whats{
    grid-column: 1/1;
    grid-row: 5;
    background-image: url(../imagens/iconeWhats.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-size: 10%;
    background-position-x: left;
    background-position-y:center ;
    font-size: 55%;
    text-align: center;
    margin-left: 2%;
    /* background-color: darkmagenta; */
}

/* .textWhats{
    grid-column: 2/2;
    grid-row: 5;
    background-color: darkorange;
} */


.insta{
    grid-column: 1/1;
    grid-row: 6;
    background-image: url(../imagens/iconeInsta.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-size: 10%;
    background-position-x: left;
    background-position-y:center ;
    justify-items: center;
    font-size: 55%;
    text-align: center;
    margin-left: 2%;
    /* background-color: lightpink; */
}

/* .textInsta{
    grid-column: 2/2;
    grid-row: 6;
    background-color: cornflowerblue;
} */


.local{
    grid-column: 1/1;
    grid-row: 7;
    background-image: url(../imagens/iconeLocal.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-size: 10%;
    background-position-x: left;
    background-position-y:center ;
    font-size: 50%;
    text-align: center;
    margin-left: 2%;
    /* background-color: teal; */
}

/* .textLocal{
    grid-column: 2/2;
    grid-row: 7;
    background-color:bisque;
} */


.rodape{
    grid-column: 1/4;
    grid-row: 8;
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    /* background-color: black; */
}

@media (max-width: 1075px){

    .local{
        font-size: 40%;
        text-align: center;
        background-size: 13%;
        display: flex;
        justify-content: right;
        align-items: center;
    
    }
}

@media (max-width: 907px){

    .local{
        font-size: 40%;
        text-align: center;
        background-size: 13%;
        display: flex;
        justify-content: right;
        align-items: center;
    
    }

    .insta{
        font-size: 45%;
        text-align: center;
        background-size: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .whats{
            font-size: 45%;
            text-align: center;
            background-size: 13%;
            display: flex;
            justify-content: center;
            align-items: center;
    }
}

@media (max-width: 900px){

    .Conteiner{
        grid-template-rows: 1fr 1fr 2% 1fr 10% 2fr 10%;
    }

    .localizacao{
        grid-column: 1/4;
        grid-row: 6;
        margin-right: 2%;
        margin-left: 2%;
        background-color: blueviolet;

    }
    
    .local{
        grid-column: 3/4;
        grid-row: 5;
        font-size: 40%;
        text-align: center;
        background-size: 10%;
        display: flex;
        justify-content: right;
        align-items: center;
    
    }

    .insta{
        grid-column: 2/3;
        grid-row: 5;
        font-size: 45%;
        text-align: center;
        background-size: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .whats{
        grid-column: 1/2;
        grid-row: 5;
            font-size: 45%;
            text-align: center;
            background-size: 9%;
            display: flex;
            justify-content: center;
            align-items: center;
    }

    .rodape{
        grid-column: 1/4;
        grid-row: 7;

    }

    .textoContato{
        grid-column: 1/4;
        grid-row: 4;
        margin-left: 1%;
        font-size: 50%;
        text-align: justify;
        background-color: yellowgreen;
    }
}

@media (max-width: 600px){
    .insta{
        font-size: 45%;
        justify-content: right;
    }

    .whats{
        font-size: 45%;
        justify-content: right;
    }
}

@media (max-width: 500px){
    .Conteiner{
        grid-template-rows: 1fr 1fr 2% 1fr 10% 10% 10% 2fr 10%;
    }

    .local{
        grid-column: 1/4;
        grid-row: 7;
        font-size: 60%;
        justify-content: right;
    }

    .insta{
        grid-column: 1/4;
        grid-row: 6;
        font-size: 60%;
        justify-content: center;
    }

    .whats{
        grid-column: 1/4;
        grid-row: 5;
        font-size: 60%;
        justify-content: center;
    }

    .localizacao{
        grid-column: 1/4;
        grid-row: 8;

    }

    .rodape{
        grid-column: 1/4;
        grid-row: 9;
    }
}

@media (max-width: 973px){
    .header{
        grid-template-rows: 40% 15% 15%;
        grid-template-columns: 18% 28% 25% 1fr;
        flex-wrap: wrap;
        
    }

    .home{
        grid-column: 1;
        grid-row: 1/1;
        z-index: 10;
        justify-content: flex-start;
     }
     
     .sobreNos{
         display: flex;
        grid-column: 2;
        grid-row: 1;
        font-size: 40%;
        z-index: 100;
        text-align: center;
        /* background-color: aqua; */
     }
     
     .contato{
         grid-column: 3;
        grid-row: 1;
        font-size: 40%;
        text-align: left;
     }
     
     .cardapio{
         grid-column: 4;
        grid-row: 1;
        font-size: 40%;
        text-align: left;
     }
     
     .telefone{
         grid-column: 1/5;
        grid-row: 2;
        text-align: left;
        font-size: 40%;
     }
     
     .endereco{
         grid-column: 1/5;
         grid-row: 3;
         background-size: 20px;
         font-size: 40%;
     } 
}

