/* Manu */

/* agora que comecei essa pag */

.Conteiner{
    display: grid;
    /* background-color: aqua; */
    min-height: 100vh;
    grid-template-rows: repeat(8 1fr);
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    grid-auto-flow: row;
}

img{
    object-fit: cover;
    max-width: 100%;
    display: block;
}

.header{
    grid-column: 1/4;
    
    background-color: blue;
}

.titulo{
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.localizacao{
    grid-column: 3/4;
    grid-row: 3/7;
    background-color: blueviolet;
}

.textoContato{
    grid-column: 1/3;
    /* background-color: yellowgreen; */
    font-size: 50%;
    text-align: justify;
}

.whats{
    grid-column: 1/2;
    background-image: url(../imagens/iconeWhats.png);
    font-size: 50%;
    background-repeat: no-repeat;
    background-size:contain;

    /* background-color: darkmagenta; */
}

.insta{
    grid-column: 1/2;
    /* background-color: lightpink; */
    background-image: url(../imagens/iconeInsta.png);
    font-size: 50%;
    background-repeat: no-repeat;
    background-size:contain;
}

.local{
    grid-column: 1/2;
    /* background-color: teal; */
    background-image: url(../imagens/iconeLocal.png);
    font-size: 50%;
    background-repeat: no-repeat;
    background-size:contain;
}

.rodape{
    grid-column: 1/4;
    background-color: black;
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
}