img{
    object-fit: cover;
}

button{
    background-color: white;
}

.header{
    z-index: 70;
    top: 0px;
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    background-color: rgb(255, 255, 255);
    min-height: 10vh;
    width: 100%;
    grid-template-columns: 6% 10% 10% 10% 14% 25% 25%;
    grid-template-rows: 1fr;
    justify-content: space-between;
   
}

.home{
    /* background-color: aqua; */
    grid-column: 1;
    background-image: url(../imagens/Logo.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: none;
    cursor: pointer;
}

.sobreNos{
    /* background-color: aliceblue; */
    grid-column: 2;
    font-size: 50%;
    border: none;
    cursor: pointer;
}

.contato{
    /* background-color: blue; */
    grid-column: 3;
    font-size: 50%;
    border: none;
    cursor: pointer;
}

.cardapio{
    /* background-color: blueviolet; */
    grid-column: 4;
    font-size: 50%;
    border: none;
    cursor: pointer;
}

.telefone{
    /* background-color: brown; */
    grid-column: 6;
    font-size: 50%;
    border: none;
    
}

.endereco{
    /* background-color: chocolate; */
    grid-column: 7;
    font-size: 50%;
    border: none;
}

.viewport{
    display: grid;
    background-color: aqua;
    min-height: 150vh;
    grid-template-columns: repeat(3 66.66%);
    grid-template-rows: 6% 25% 15% 33.33% 40% 8%;
}

.imgPrincipal{
    grid-column: 1/4;
    grid-row: 2;
    background-image: url(../imagens/PrincipalSalgados01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:center ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;

}

.textoPrincipal{
    display: flex;
    justify-content: center;  
    background-color: black; 
}

.conteudo{
    display: grid;
    background-color: rgb(199, 113, 113);
    grid-column: 1/4;
    grid-row: 4;
    grid-template-columns: repeat(3 66.66%);
}

.tiposSalada{
    background-color: brown;
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(5 1fr);
}

.salada{
    background-color: aliceblue;
    grid-column: 1/3;
    grid-row: 1;
}

.s1{
    display: flex;
    flex-wrap: wrap;
    grid-row: 2;
    font-size: 20%;
}

.s2{
    grid-row: 3;
    font-size: 20%;
}

.s3{
    grid-row: 4;
    font-size: 20%;
}

.s4{
    grid-row: 5;
    font-size: 20%;
}

.b1{
    display: flex;
    flex-wrap: wrap;
    grid-row: 2;
    margin: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(21, 105, 179);
    align-items: flex-end;
}

.b2{
    grid-row: 3;
    margin: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(21, 105, 179);
}

.b3{
    grid-row: 4;
    margin: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(21, 105, 179);
}

.b4{
    grid-row: 5;
    margin: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(21, 105, 179);
}

.tiposQuiches{
    background-color: rgb(87, 141, 141);
    grid-column: 2;
}

.tiposSanduiches{
    background-color: rgb(1, 2, 2);
    grid-column: 3;
}

.rodape{
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    background-color: brown;
    grid-column: 1/4;
    grid-row: 6;
}

.b1{
    display: flex;
    flex-wrap: wrap;
    grid-row: 2;
    margin: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(21, 105, 179);
    align-items: flex-end;
}

.b2{
    grid-row: 3;
    margin: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(21, 105, 179);
}

.b3{
    grid-row: 4;
    margin: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(21, 105, 179);
}

.b4{
    grid-row: 5;
    margin: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(21, 105, 179);
}
