/* Maurício */
img{
    object-fit: cover;
}

button{
    background-color: white;
}

.header{
    z-index: 70;
    top: 0px;
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    background-color: rgb(255, 255, 255);
    min-height: 10vh;
    width: 100%;
    grid-template-columns: 6% 10% 10% 10% 14% 25% 25%;
    grid-template-rows: 1fr;
    justify-content: space-between;
   
}

.home{
    /* background-color: aqua; */
    grid-column: 1;
    background-image: url(../imagens/Logo.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: none;
    cursor: pointer;
}

.sobreNos{
    /* background-color: aliceblue; */
    grid-column: 2;
    font-size: 50%;
    border: none;
    cursor: pointer;
}

.contato{
    /* background-color: blue; */
    grid-column: 3;
    font-size: 50%;
    border: none;
    cursor: pointer;
}

.cardapio{
    /* background-color: blueviolet; */
    grid-column: 4;
    font-size: 50%;
    border: none;
    cursor: pointer;
}

.telefone{
    /* background-color: brown; */
    grid-column: 6;
    font-size: 50%;
    border: none;
    
}

.endereco{
    /* background-color: chocolate; */
    grid-column: 7;
    font-size: 50%;
    border: none;
}

.viewport{
    display: grid;
    /* background-color: aqua; */
    min-height: 200vh;
    grid-template-columns: repeat(3 66.66%);
    grid-template-rows: 8% 25% 10% 35% 15% 8%;
}

.imgPrincipal{
    grid-column: 1/4;
    grid-row: 2;
    background-image: url(../imagens/PrincipalSalgados01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:center ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;

}

.conteudo{
    display: grid;
    /* background-color: rgb(199, 113, 113); */
    grid-column: 1/4;
    grid-row: 4;
    grid-template-columns:24.66% 23.66% 30.66%;
    justify-content: space-between;
}

.tiposSalada{
    /* background-color: rgb(197, 59, 59); */
    grid-column: 1;
}

.saladaTitulo{
    /* background-color: aliceblue; */
    display: flex;
    grid-column: 1/6;
    grid-row: 1;
    align-items: flex-end;
    justify-content: center;
}

.s1{
    display: flex;
    flex-wrap: wrap;
    grid-row: 2;
    font-size: 50%;
    justify-content: start;
    /* background-color: chocolate; */
    align-items: center;
}

.s2{
    display: flex;
    grid-row: 3;
    font-size: 50%;
    justify-content: start;
    align-items: center;
}

.s3{
    display: flex;
    grid-row: 4;
    font-size: 50%;
    justify-content: start;
    align-items: center;
}

.s4{
    display: flex;
    grid-row: 5;
    font-size: 50%;
    justify-content: start;
    align-items: center;
}

.bolinha{
    display: flex;
    flex-wrap: wrap;
    grid-row: 2;
    margin: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.tiposQuiches{
    /* background-color: rgb(87, 141, 141); */
    grid-column: 2;
    justify-content: end;
}

.quicheTitulo{
    /* background-color: aliceblue; */
    display: flex;
    grid-column: 1/3;
    grid-row: 1;
    align-items: flex-end;
    justify-content: center;
}

.q1{
    display: flex;
    flex-wrap: wrap;
    grid-row: 2;
    font-size: 50%;
    justify-content: start;
    /* background-color: chocolate; */
    align-items: center;
}

.q2{
    display: flex;
    grid-row: 3;
    font-size: 50%;
    justify-content: start;
    align-items: center;
}

.q3{
    display: flex;
    grid-row: 4;
    font-size: 50%;
    justify-content: start;
    align-items: center;
}

.q4{
    display: flex;
    grid-row: 5;
    font-size: 50%;
    justify-content: start;
    align-items: center;
}

.tiposSanduiches{
    /* background-color: rgb(53, 134, 134); */
    grid-column: 3;
}

.sanduichesTitulo{
    /* background-color: aliceblue; */
    display: flex;
    grid-column: 1/3;
    grid-row: 1;
    align-items: flex-end;
    justify-content: center;
}

.san1{
    display: flex;
    flex-wrap: wrap;
    grid-row: 2;
    font-size: 50%;
    justify-content: start;
    /* background-color: chocolate; */
    align-items: center;
}

.san2{
    display: flex;
    grid-row: 3;
    font-size: 50%;
    justify-content: start;
    align-items: center;
}

.san3{
    display: flex;
    grid-row: 4;
    font-size: 50%;
    justify-content: start;
    align-items: center;
}

.san4{
    display: flex;
    grid-row: 5;
    font-size: 50%;
    justify-content: start;
    align-items: center;
}

.rodape{
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    /* background-color: brown; */
    grid-column: 1/4;
    grid-row: 6;
}

@media (max-width: 1020px) {

    
}