/* Manu */
button{
    background-color: white;
}

.Conteiner{
    /* background-color: aquamarine; */
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 2fr 3% 2fr 3% 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    grid-auto-flow: row;
}

.ImagenPrincipal{
     grid-column: 1/4;
    grid-row: 2;
    background-image: url(../imagens/principalSobreNoz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:center ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px; 
    /* background-color:brown */
}

 .DonoPadaria{
    grid-column: 2/1;
    grid-row: 4;
    background-image: url(../imagens/donoPadariaSobreNos.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ; 
    /* background-color: black; */
} 

 .Paragrafo{
    grid-column: 2/4;
    grid-row: 4;
    font-size: 60%;
    text-align: justify;
    margin-right: 3%; 
    /* background-color: darkgreen; */
} 

.rodape{
    /* background-color: black; */
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    grid-column: 1/4;
    grid-row: 6; 
}

img{
    object-fit: cover;
    max-width: 100%;
    display: block;
}

 .linha{
    grid-column: 1/4; 
    grid-row: 3;
    /* background-color:blue; */
}

.linha2{
    grid-column: 1/4; 
    grid-row: 5;
    /* background-color: hotpink; */
} 

@media (max-width: 800px){
    .Conteiner{
        grid-template-rows: 1fr 2fr 3% 20% 1fr 3% 7%;
    }

    .header{
        grid-column: 1/4;
        grid-row: 1;
    }

    .ImagenPrincipal{
        grid-column: 1/4;
        grid-row: 2;
    }

    .DonoPadaria{
        grid-column: 2;
        grid-row: 4;
    }

    .Paragrafo{
        grid-column: 1/4;
        grid-row: 5;
        margin-left: 5%;
        margin-right: 3%;
    }

    .linha{
        grid-column: 1/4; 
        grid-row: 3;
    }

    /* não consigo arrumar a linha, deixar ela na horizontal */
    .linha2{
        grid-column: 1/4; 
        grid-row: 6;
    }

    .rodape{
        grid-column: 1/4; 
        grid-row: 7;
    }
}

    @media (max-width: 505px){

        .ImagenPrincipal{
        text-align: center;
        }
}

.header{
    z-index: 70;
    grid-column: 1/4;
    display: grid;
    /* background-color: rgb(255, 255, 255); */
    min-height: 10vh;
    width: 100%;
    grid-template-columns: 6% 10% 10% 10% 13% 26% 25%;
    grid-template-rows: 1fr;
    justify-content: space-between;
    position: fixed;
    top: 0px;
   
}

.home{
    display: flex;
    /* background-color: aqua; */
    grid-column: 1;
    border: none;
    cursor: pointer;
    align-items: center;
}

.sobreNos{
    display: flex;
    /* background-color: aliceblue; */
    grid-column: 2;
    font-size: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
}

.contato{
    display: flex;
    /* background-color: blue; */
    grid-column: 3;
    font-size: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
}

.cardapio{
    display: flex;
    /* background-color: blueviolet; */
    grid-column: 4;
    font-size: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
}

.telefone{
    display: flex;
    /* background-color: brown; */
    grid-column: 6;
    font-size: 50%;
    border: none;
    align-items: center;
    column-gap: 10px;
}

.endereco{
    display: flex;
    /* background-color: chocolate; */
    grid-column: 7;
    font-size: 50%;
    border: none;
    column-gap: 10px;
    align-items: center;
}

@media (max-width: 973px){
    .header{
        grid-template-rows: 40% 15% 15%;
        grid-template-columns: 18% 28% 25% 1fr;
        flex-wrap: wrap;
        
    }

    .home{
        grid-column: 1;
        grid-row: 1/1;
        z-index: 10;
        justify-content: flex-start;
     }
     
     .sobreNos{
         display: flex;
        grid-column: 2;
        grid-row: 1;
        font-size: 40%;
        z-index: 100;
        text-align: center;
        /* background-color: aqua; */
     }
     
     .contato{
         grid-column: 3;
        grid-row: 1;
        font-size: 40%;
        text-align: left;
     }
     
     .cardapio{
         grid-column: 4;
        grid-row: 1;
        font-size: 40%;
        text-align: left;
     }
     
     .telefone{
         grid-column: 1/5;
        grid-row: 2;
        text-align: left;
        font-size: 40%;
     }
     
     .endereco{
         grid-column: 1/5;
         grid-row: 3;
         background-size: 20px;
         font-size: 40%;
     } 
}