/* Manu */

/* e falta colocar as linhas ----- de divisão ainda como está no prototipo que ainda não procurei um modo de colocar */

.Conteiner{
    display: grid;
    min-height: 100vh;
    grid-template-rows: repeat(7 1fr);
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    grid-auto-flow: row;

}

/* ainda estamos arrumando o header */
.header{
    display: flex;
    background-color:rgb(0, 255, 128);
    grid-column: 1/4;
}

/* o que eu não consegui fazer foi colocar o texto e a imagens juntos */
.ImagenPrincipal{
    background-color: rgb(43, 66, 129);
    grid-column: 1/4;
    text-align: center;
    grid-template-rows: 10%;
    min-width: 100vh;
    font-size: 170%;
    color: white;
}

.DonoPadaria{
    grid-column: 1/2;
    background-image: url(../imagens/donoPadariaSobreNos.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
}

.Paragrafo{
    grid-column: 2/4;
    font-size: 60%;
    text-align: justify;
    margin-right: 3%;
}

.rodape{
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    grid-column: 1/4;
    grid-row: 4/7;
}

img{
    object-fit: cover;
    max-width: 100%;
    display: block;
}