.Conteiner{
    display: grid;
    background-color: aqua;
    min-height: 100vh;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.header{
    display: flex;
    background-color:rgb(0, 255, 128);
    grid-column: 1/4;

}

.ImagenPrincipal{
    display: grid;
    background-color: rgb(43, 66, 129);
    grid-column: 1/4;
    text-align: center;
    grid-template-rows: 10%;
    min-width: 100vh;
    font-size: 200%;
    color: white;
}

.DonoPadaria{
    display: grid;
    background-color: black;
    grid-column: 1/2;
    grid-row: 3/3;
}

.Paragrafo{
    display: grid;
    background-color: blueviolet;
    grid-column: 2/4;
}

.rodape{
    display: grid;
    background-color: brown;
    grid-column: 2/2;
    grid-row: 4/4
}

img{
    object-fit: cover;
    max-width: 100%;
    display: block;
    background-image: url(imagens/Logo.png);
}