/* Manu */
.Conteiner{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    grid-auto-flow: row;
}

/* ainda estamos arrumando o header */
.header{
    display: flex;
    background-color:rgb(0, 255, 128);
    grid-column: 1/4;
}

.ImagenPrincipal{
    grid-column: 1/4;
    grid-row: 2;
    background-image: url(../imagens/principalSobreNoz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:center ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;

}

 .DonoPadaria{
    grid-column: 1/2;
    grid-row: 4/6;
    background-image: url(../imagens/donoPadariaSobreNos.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
} 

 .Paragrafo{
    grid-column: 2/4;
    font-size: 60%;
    text-align: justify;
    margin-right: 3%;
} 

.rodape{
    background-color: black;
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    grid-column: 1/4;
}

img{
    object-fit: cover;
    max-width: 100%;
    display: block;
}

 .linha{
    grid-column: 1/4;
}

.linha2{
    grid-column: 1/4;
}  