/* Manu */
.Conteiner{
    display: grid;
    background-color: aqua;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.header{
    display: flex;
    background-color:rgb(0, 255, 128);
    grid-column: 1/4;
}

.ImagenPrincipal{
    background-color: rgb(43, 66, 129);
    grid-column: 1/4;
    text-align: center;
    grid-template-rows: 10%;
    min-width: 100vh;
    font-size: 200%;
    color: white;
}

.DonoPadaria{
    background-color: black;
    grid-column: 1/2;
    grid-row: 3/3;
}

.Paragrafo{
    background-color: blueviolet;
    grid-column: 2/4;
}

.rodape{
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    grid-column: 1/4;
    grid-row: 26/28;
}


img{
    object-fit: cover;
    max-width: 100%;
    display: block;
}