/*Luis*/
img{
    object-fit: cover;
}

.viewport{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr 8%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.header{
    
    background-color:rgb(0, 255, 128);
    grid-column: 1/4;

    }

.imgPrincipal{
    grid-column: 1/4;
    background-image: url(../imagens/principalPagInicial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:center ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;

}

.salgados{ 
    background-image: url(../imagens/coxinhaPagInicial.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
}

.textoPrincipal{
 display: flex;
 justify-content: center;  
 background-color: black; 
}

.bebidas{
    background-image: url(../imagens/cafezin.png.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    
}

.textoSalgados{
    grid-column: 2/3;
    text-align: right;
    
    
}

.doces{
    background-image: url(../imagens/docePagInicial.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
}

.textoBebidas{
    grid-column: 2/3;
    text-align: right;
    
}

.linha{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape{
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    grid-column: 1/4;
    grid-row: 7/10;
}

