/*Luis*/
img{
    object-fit: cover;
}

.viewport{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 4% 2fr 3% 1fr 3% 1fr 3% 1fr 3% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}

.header{
    z-index: 70;
    grid-column: 1/4;
    display: grid;
    background-color: rgb(255, 255, 255);
    width: 100%;
    grid-template-columns: 6% 10% 10% 10% 13% 26% 25%;
    grid-template-rows: 1fr;
    justify-content: space-between;
    position: fixed;
    top: 0px;
   
}

.home{
    display: flex;
    /* background-color: aqua; */
    grid-column: 1;
    border: none;
    cursor: pointer;
    align-items: center;
}

.sobreNos{
    display: flex;
    /* background-color: aliceblue; */
    grid-column: 2;
    font-size: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
}

.contato{
    display: flex;
    /* background-color: blue; */
    grid-column: 3;
    font-size: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
}

.cardapio{
    display: flex;
    /* background-color: blueviolet; */
    grid-column: 4;
    font-size: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
}

.telefone{
    display: flex;
    /* background-color: brown; */
    grid-column: 6;
    font-size: 50%;
    border: none;
    align-items: center;
    column-gap: 10px;
    
}

.endereco{
    display: flex;
    /* background-color: chocolate; */
    grid-column: 7;
    font-size: 50%;
    border: none;
    column-gap: 10px;
    align-items: center;
}

.imgPrincipal{
    grid-column: 1/4;
    grid-row: 2;
    background-image: url(../imagens/principalPagInicial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:center ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100%;
    
    

}

.salgados{ 
    grid-row: 4;
    grid-column: 3;
    background-image: url(../imagens/coxinhaPagInicial.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center;
    
}



.bebidas{
    grid-column: 3;
    grid-row: 8;
    background-image: url(../imagens/cafezin.png.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    
    
}

.textoSalgados{
    grid-row: 4;
    grid-column: 1/3;
    text-align: right;
    
    
}

.doces{
    grid-row: 6;
    grid-column: 1;
    background-image: url(../imagens/docePagInicial.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    
}

.textoDoces{
    grid-column: 2;
    grid-row: 6;
}

.textoBebidas{
    grid-column: 2;
    grid-row: 8;
    text-align: right;
    
    
}

.linha{
    grid-column: 1/4;
  
}

.linha1{
    grid-row: 3;
    grid-column: 1/4;
}

.linha2{
    grid-row: 5;
    grid-column: 1/4;
}

.linha3{
    grid-row: 7;
    grid-column: 1/4;
}

.linha4{
    grid-row: 9;
    grid-column: 1/4;
}

.rodape{
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    grid-row: 10;
    grid-column: 1/4;
    
}


@media (max-width: 858px){
.viewport{
    grid-template-rows: 1fr 2fr 3% 1fr 1fr 3% 1fr 1fr 3% 1fr 1fr 3% 5%;
}

.rodape{
    grid-row: 13;
    grid-column: 1/4;
}

.imgPrincipal{
    text-align: center;
}

.salgados{
    grid-column: 2;
    grid-row: 4;
    width: 300px;
    
}

.textoSalgados{ 
    grid-column: 2;
    grid-row: 5;
    text-align: center;
     
}

.linha2{
    grid-row: 6;
}

.linha3{
    grid-row: 9;
}

.linha4{
    grid-row: 12;
}

.doces{
    grid-column: 2;
    grid-row: 7;
    
}

.textoDoces{ 
    grid-column: 2;
    grid-row: 8;
    text-align: center;
    
     
}

.bebidas{
    grid-column: 2;
    grid-row: 10;
}

.textoBebidas{
    grid-column: 2;
    grid-row: 11;
    text-align: center;
}

}

@media (max-width: 1088px){
    .imgPrincipal{
        text-align: center;
    }

    .header{
        grid-template-rows: repeat(6 1fr);
        grid-template-columns: 18% 28% 25% 1fr;
        flex-wrap: wrap;
        
    }

    .home{
        grid-column: 1;
        grid-row: 1/1;
        z-index: 10;
        justify-content: flex-start;
     }
     
     .sobreNos{
         display: flex;
        grid-column: 2;
        grid-row: 1;
        font-size: 40%;
        z-index: 100;
        text-align: center;
        /* background-color: aqua; */
     }
     
     .contato{
         grid-column: 3;
        grid-row: 1;
        font-size: 40%;
        text-align: left;
     }
     
     .cardapio{
         grid-column: 4;
        grid-row: 1;
        font-size: 40%;
        text-align: left;
     }
     
     .telefone{
         grid-column: 1/5;
        grid-row: 2;
        text-align: left;
        font-size: 40%;
     }
     
     .endereco{
         grid-column: 1/5;
         grid-row: 3;
         background-size: 20px;
         font-size: 40%;
     } 
}
