/*Luis*/
img{
    object-fit: cover;
}

.viewport{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 2fr 3% 1fr 3% 1fr 3% 1fr 3% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}

.header{
    
    background-color:rgb(0, 255, 128);
    grid-column: 1/4;

    }

.imgPrincipal{
    grid-column: 1/4;
    background-image: url(../imagens/principalPagInicial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:center ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100%;
    
    

}

.salgados{ 
    background-image: url(../imagens/coxinhaPagInicial.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center;
    
}

.textoPrincipal{
 display: flex;
 justify-content: center; 
 
  
}

.bebidas{
    background-image: url(../imagens/cafezin.png.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    
    
}

.textoSalgados{
    grid-column: 2/3;
    text-align: right;
    
    
}

.doces{
    background-image: url(../imagens/docePagInicial.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    
}

.textoBebidas{
    grid-column: 2/3;
    text-align: right;
    
    
}

.linha{
    grid-column: 1/4;
    
    
}

.rodape{
    background-image: url(../imagens/Logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    grid-row: 10;
    grid-column: 1/4;
    
}


@media (max-width: 858px){
.viewport{
    grid-template-rows: 1fr 2fr 3% 1fr 1fr 3% 1fr 1fr 3% 1fr 1fr 3% 5%;
}

.rodape{
    grid-row: 13;
    grid-column: 1/4;
}

.imgPrincipal{
    text-align: center;
}

.salgados{
    grid-column: 2;
    grid-row: 4;
    width: 300px;
    
}

.textoSalgados{ 
    grid-column: 2;
    grid-row: 5;
    text-align: center;
     
}

.doces{
    grid-column: 2;
    grid-row: 7;
    
}

.textoDoces{ 
    grid-column: 2;
    grid-row: 8;
    text-align: center;
    
     
}

.bebidas{
    grid-column: 2;
    grid-row: 10;
}

.textoBebidas{
    grid-column: 2;
    grid-row: 11;
    text-align: center;
}

}
