/*Luis*/
img{
    object-fit: cover;
}

.viewport{
    display: grid;
    background-color: aqua;
    min-height: 100vh;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.header{
    
    background-color:rgb(0, 255, 128);
    grid-column: 1/4;

    }

.imgPrincipal{
    grid-column: 1/4;
    
    
}

.salgados{ 
    background-image: url(../imagens/coxinhaPagInicial.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
}

.textoDoces{
    
}

.bebidas{
    background-image: url(../imagens/cafePagInicial.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
    
}

.textoSalgados{
    grid-column: 2/3;
    text-align: right;
    
    
}

.doces{
    background-image: url(../imagens/docePagInicial.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    background-position-y:center ;
}

.textoBebidas{
    grid-column: 2/3;
    
}